{
    "metadata": {
        "component": {
            "name": "keycloak",
            "description": "Add authentication to applications and secure services with minimum effort. No need to deal with storing users or authenticating users.",
            "version": "${KEYCLOAK_TAG}",
            "copyright": "Keycloak Authors",
            "externalReferences": [
                {
                "type": "documentation",
                "url": "https://www.keycloak.org/"
                },
                {
                "type": "vcs",
                "url": "https://github.com/keycloak/keycloak.git"
                },
                {
                "type": "license",
                "url": "https://raw.githubusercontent.com/keycloak/keycloak/main/LICENSE.txt"
                }
            ]
        },
        "authors": [
            {
                "name": "CISA Tiger Group for SBOM Generation Reference Implementations",
                "email": "placeholder@example.com"
            }
        ],
        "licenses": [
            {
                "license": {
                    "id": "Apache-2.0",
                    "url": "https://raw.githubusercontent.com/keycloak/keycloak/main/LICENSE.txt"
                }
            }
        ],
        "lifecycles": [
            {
                "phase": "pre-build"
            }
        ],
        "supplier": {
            "name": "CISA Tiger Group for SBOM Generation Reference Implementations",
            "url": ["https://github.com/CISA-SBOM-Community/SBOM-Generation"]
        }
    }
}
