{
    "metadata": {
        "component": {
            "name": "${SBOM_NAME}",
            "description": "SBOM Generation Reference Implementations: Python/Django application running in a Docker container.",
            "version": "${SEMVER}"
        },
        "licenses": [
            {
                "license": {
                    "id": "Apache-2.0",
                    "url": "https://raw.githubusercontent.com/CISA-SBOM-Community/SBOM-Generation/main/LICENSE"
                }
            }
        ],
        "lifecycles": [
            {
                "phase": "build"
            }
        ],
        "supplier": {
            "name": "CISA Tiger Group for SBOM Generation Reference Implementations",
            "url": ["https://github.com/CISA-SBOM-Community/SBOM-Generation"]
        }
    }
}
